header {
    text-align: justify;
    letter-spacing: 1px;
    height: 8em;
    padding: 2em 10%;
    background: black;
    color: #fff;
}

header h1,
header nav {
    display: inline-block;
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

header h1 {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}



a {
    display: inline-block;
    color: #fff; /* Цвет обычной ссылки */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer;
    line-height: 1.5;
    margin-right: 2px;
}
a:after {
    background-color: #002137; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
a:hover:after,
a:focus:after {
    width: 100%;
}
